<div style="width:100%;margin-top:5%">

  <h2>Compétences informatique</h2>

  <div class="duetTechno">



    <paper-card style="margin-left:0;">
      <div class="titleCard" style="background:#AB47BC;">
        Web
      </div>
      <div class="contentCardTechno">
        <img *ngFor="let tech of this.technoWeb | async" [src]="tech.$value" class="iconImg">
      </div>
    </paper-card>


    <paper-card style="margin-right:0;">
      <div class="titleCard" style="background:#FF7043;">
        Os
      </div>
      <div class="contentCardTechno">
        <img *ngFor="let tech of this.technoOs| async" [src]="tech.$value" class="iconImg">
      </div>
    </paper-card>
  </div>

  <div class="duetTechno">

    <paper-card style="margin-left:0;">
      <div class="titleCard" style="background:#43a047;">
        Mobile
      </div>
      <div class="contentCardTechno">
        <img *ngFor="let tech of this.techno.mobile" [src]="tech" class="iconImg">
      </div>
    </paper-card>

    <paper-card style="margin-right:0;">
      <div class="titleCard" style="background:#ffc200;">
        Autre
      </div>
      <div class="contentCardTechno">
        <img *ngFor="let tech of this.techno.other" [src]="tech" class="iconImg">
      </div>
    </paper-card>

  </div>

</div>