<div style="width:100%;margin-top:5%">

  <h2>Compétences informatique</h2>

  <paper-card heading="Web">
    <div class="card-content">
      <iron-icon src="assets/svg/angular2.svg" item-icon></iron-icon>
      <iron-icon src="assets/svg/html5.svg" item-icon></iron-icon>
      <iron-icon src="assets/svg/css3.svg" item-icon></iron-icon>
      <iron-icon src="assets/svg/js.png" item-icon></iron-icon>
      <iron-icon src="assets/svg/php.svg" item-icon></iron-icon>
      <iron-icon src="assets/svg/polymer.svg" item-icon></iron-icon>
    </div>
  </paper-card>

  <paper-card heading="Os">
    <div class="card-content">
      <iron-icon src="assets/svg/linux.svg" item-icon></iron-icon>
      <iron-icon src="assets/svg/windows.svg" item-icon></iron-icon>
      <iron-icon src="assets/svg/apple.svg" item-icon></iron-icon>
    </div>
  </paper-card>

  <paper-card heading="Mobile">
    <div class="card-content">
      <iron-icon src="assets/svg/android.svg" item-icon></iron-icon>
      <iron-icon  src="assets/svg/ionic.svg" style="width:64px;" item-icon> </iron-icon>
      <iron-icon  src="assets/svg/cordova.png" style="width:64px;" item-icon> </iron-icon>
    </div>
  </paper-card>

  <paper-card heading="Autre language">
    <div class="card-content">
    </div>
  </paper-card>

</div>