<paper-header-panel mode="waterfall-tall">
  <paper-toolbar>
    <div class="title">CHAPELLE Quentin</div>
    <div class="bottom subhead fonction">Anaylste developpeur fullstack</div>
    <div class="profilPicture"> <img src="http://quentinchapelle.fr/images/photoProfil.jpg"> </div>
  </paper-toolbar>


  <paper-toolbar>
    <paper-icon-button class="buttonCollapse" icon="menu" (click)="toggleLeft()"></paper-icon-button>
    <app-menu class="menuHeader" [leftmenu]="leftMenu"></app-menu>
  </paper-toolbar>

  <div style="width:100%;">

    <router-outlet> </router-outlet>

    <footer>
      This website use<br>
      <div class="imgDiv">
        <img src="assets/svg/polymer.svg"><img src="assets/svg/angular2.svg">
      </div>
    </footer>
  </div>

 

</paper-header-panel>

 <app-drawer id="startDrawer" align="start" [(opened)]="leftMenu">
    <div style="height: 100%; overflow: auto; width:300px;">
      ggg
      <app-menu [leftmenu]="leftMenu"></app-menu>
    </div>
  </app-drawer>