<div style="width:80%;margin-left:10%">
    <h1 class='title'>CHAPELLE Quentin - Curriculum vitae</h1>


<base-chart class="chart"
             [datasets]="radarChartData"
             [labels]="radarChartLabels"
             [chartType]="radarChartType"
             (chartHover)="chartHovered($event)"
             (chartClick)="chartClicked($event)"></base-chart>

    <paper-card heading="Atouts" style="width:100%;margin-top:5%">
    </paper-card>


    <app-techno></app-techno>

    <div style="margin-top:5%">

        <h2>Expériences profesionnelles</h2>

        <paper-card heading="Analyste développeur fullstack" style="width:100%;margin-top:5%;" image="assets/svg/michelin.svg">
            <div class="card-content" style="padding-top: 0;">
                <h4 style="-webkit-margin-before:0;font-weight: 400;margin-left:15px;">Du 03/2016 à maintenant. Clermont-Ferrand</h4>
                <h3>Description</h3>
                <p>Analyse de besoins, conception et développment de solutions web et/ou mobile innovantes et attrayantes.</p>
                <h3>Principaux challenges</h3>
                <ul>
                    <li>Time to market très court</li>
                    <li>Multiplication des technologies utilisées</li>
                    <li>S'adapter aux différents métiers</li>
                </ul>
                <h3>Technologies</h3>
                <iron-icon src="assets/svg/android.svg" item-icon></iron-icon>
                <iron-icon src="assets/svg/angular.svg" item-icon></iron-icon>
                <iron-icon src="assets/svg/grails.svg" item-icon></iron-icon>
                <iron-icon src="assets/svg/ionic.svg" style="width:64px;" item-icon></iron-icon>
                <iron-icon src="assets/svg/cordova.png" style="width:64px;" item-icon></iron-icon>
                grunt yeoman npm
                
            </div>
        </paper-card>

        <paper-card heading="Analyste fonctionnel" style="width:100%;margin-top:5%" image="assets/svg/michelin.svg">
        </paper-card>

        <paper-card heading="Alternant" style="width:100%;margin-top:5%" image="assets/svg/michelin.svg">
        </paper-card>

        <paper-card heading="Développeur stagiaire" style="width:100%;margin-top:5%" image="assets/svg/worldline.jpg">
        </paper-card>

        <paper-card heading="Développeur stagiaire" style="width:100%;margin-top:5%" image="assets/svg/chu.jpg">
        </paper-card>
    </div>
    <div style="margin-top:5%">

        <h2>Formation</h2>

    </div>
    <div style="margin-top:5%">

        <h2>Langues</h2>

    </div>
    <div style="margin-top:5%">

        <h2>Intérêts</h2>

    </div>
</div>