<div style="width:80%;margin-left:10%">
    <h1 class='title'>CHAPELLE Quentin - Curriculum vitae</h1>


    <base-chart class="chart" [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></base-chart>

    <paper-card heading="Atouts" style="width:100%;margin-top:5%">
    </paper-card>


    <app-techno></app-techno>

    <div style="margin-top:5%">

        <h2>Expériences profesionnelles</h2>

        <span *ngFor="let job of expPro"> 
        <app-experience-pro 
            [entreprise]="job.entreprise" 
            [begin]="job.begin" 
            [end]="job.end" 
            [jobName]="job.jobName" 
            [description]="job.description" 
            [technos]="job.technos" 
            [challenge]="job.challenge" 
            [color]="job.color" 
            [city]="job.city">
        </app-experience-pro>
      </span>


        <paper-card style="flex:1;margin-top:5%;display: flex;flex-direction: row;">
            <div style="background-color:#5C6BC0;flex:1;padding:2%;text-align:left;color:white">
                <strong>Divers</strong>
            </div>
            <div style="flex:3;padding:5%;">
                <h1>Emplois saisonniers</h1>
                <ul>
                    <li>Ambulancier à Tissier - Nevers 58000 : Août 2011 et Juillet - Août 2012</li>
                    <li>Service Comptabilité à Logivie - Nevers 58000 : Août 2010</li>
                    <li>Chargé d'accueil à la Caisse d'épargne - Coulanges-lés-Nevers 58660 : Juillet 2009</li>
                    <li>Service informatique à Logivie - Nevers 58000 : Août 2008 et Août 2009</li>
                </ul>
            </div>
        </paper-card>

    </div>
    <div style="margin-top:5%">

        <h2>Formation</h2>

        <span *ngFor="let job of formations"> 
        <app-experience-pro 
            [entreprise]="job.entreprise" 
            [begin]="job.begin" 
            [end]="job.end" 
            [jobName]="job.jobName" 
            [description]="job.description" 
            [technos]="job.technos" 
            [challenge]="job.challenge" 
            [color]="job.color" 
            [city]="job.city">
        </app-experience-pro>
      </span>

    </div>
    <div style="margin-top:5%">

        <h2>Langues</h2>

        <div style="display: flex;flex-direction: row;">

            <paper-card style="flex:1;margin:2.5%;margin-left:0;display: flex;flex-direction: row;">
                <div style="flex:1;
                background: url('assets/france.gif'); background-size: cover;background-position:center center;padding:2%;">
                </div>
                <div style="flex:3;padding:5%;">
                    Français: langue natale
                </div>
            </paper-card>


            <paper-card style="flex:1;margin:2.5%;margin-right:0;display: flex;flex-direction: row;">
                <div style="flex:1;background: url('assets/en.gif'); background-size: cover;background-position:center center;padding:2%;">
                </div>
                <div style="flex:3;padding:5%;">
                    Anglais: Pro.
                </div>
            </paper-card>
        </div>

    </div>
    <div style="margin-top:5%">

        <h2>Intérêts</h2>

    </div>
</div>