<div style="width:80%;margin:10%;margin-top:2%; display: flex">
<paper-card class="whiteTitle" style="flex:1;margin:5%;" image="https://firebasestorage.googleapis.com/v0/b/profesionnalwebsite.appspot.com/o/angular2.svg?alt=media&token=b50c21d4-55e8-4186-84f8-0c588b6d3763" routerLink="/lab/flexbox">
            <div class="card-content">
                Test Drag & drop from scratch angular2 (version1)
            </div>
</paper-card>
<paper-card class="whiteTitle" style="flex:1;margin:5%;" image="assets/logstash.png" routerLink="/lab/logstash">
            <div class="card-content">
                Présentation du 08/04/2014 lors de l'API Hour #8 de Clermont'ech
            </div>
</paper-card>
</div>