<paper-card style="margin:10%; margin-top:5%; margin-bottom:5%; width: 80%;" [heading]="title"
  [alt]="title">
  <div class="card-content">

    <div role="listbox">
      <paper-icon-item>
        <iron-icon icon="inbox" item-icon></iron-icon>
        Site internet : quentinchapelle.fr
      </paper-icon-item>
      <paper-icon-item>
        <iron-icon icon="star" item-icon></iron-icon>
        Twitter : twitter.com/quentinchap
      </paper-icon-item>
      <paper-icon-item>
        <div class="avatar blue" item-icon></div>
        LinkedIn : fr.linkedin.com/in/quentinchapelle
      </paper-icon-item>
      <paper-icon-item>
        <div class="avatar" item-icon></div>
        Viadeo : www.viadeo.com/fr/profile/qchapelle
      </paper-icon-item>
      <paper-icon-item>
        <div class="avatar" item-icon></div>
        GitHub : https://github.com/quentinchap
      </paper-icon-item>
    </div>
  </div>
</paper-card>