/* You can add global styles to this file, and also import other style files */

html, 
body {
    height: 100%;
    margin: 0;
    background: #eeeeee;
}

.paper-toolbar-0.tall .toolbar-tools.paper-toolbar .title
{
    font-size: 2.5em;
    font-weight: lighter;
    margin-top: 15%;
    margin-left: 0;

}


.paper-toolbar-0.animate
{

    -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}


.paper-toolbar-0 .toolbar-tools.paper-toolbar .title
{

    -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer{
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    text-align: center;
    vertical-align: middle;
}

footer .imgDiv{
    width: 100%;
    height: 70px;
    
    vertical-align: middle;
}

.imgDiv img{
    max-height: 100%;
    width: 70px;
    margin: 10px;
    vertical-align: middle;
}