/* You can add global styles to this file, and also import other style files */

html, 
body {
    height: 100%;
    margin: 0;
    background: #eeeeee;
}



.paper-progress-0 #primaryProgress.paper-progress {
   background-color: #3f51b5;
}

router-outlet{
        -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}