
<paper-card heading="Bienvenue" style="margin:10%; margin-top:5%; margin-bottom:5%; width: 80%; ">
  <div class="card-content ">

    Bonjour et bienvenue sur mon portail professionnel. Vous trouverai tout un ensemble d’information concernant mes différentes
    expériences professionnelles. Vous pourrez notamment consulter:

    <ul>
      <li>Mon curriculum Vitae</li>
      <li>Le lab regroupant diverses expérimentations</li>
      <li>Des liens utiles</li>
    </ul>

    Bonne visite !
  </div>
</paper-card>